p {
  color: #02F520;
  font-size: 20px;
  width: 265px;
  height: 110px;
}

#mi_parrafo {
  color: #02F520;
  background-color: #ff9966;
}

.color1{background-color:#F0738F;}
.color2{background-color:#0CF86C;}
.color3{background-color:#0CACF8;}

.colores1{font-size: 24px; color:yellow;}
