{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% if page_title %}{{ page_title }} - {% endif %}{{ site_name }}{% endblock %}</title>
        <meta name="keywords" content="{{ palabras_claves }}"/>
        <meta name="description" content="{{ descripcion }}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css.main.css' %}"/>
    </head>
    <body>
        <h1>First</h1>
        <h2>Second</h2>
        <h3>Third + {{site_name}}</h3>
        <b>Bold</b>
        <p>Third</p>

        <div>div 1</div>
        <div>div 2</div>
        <div>div 3</div>
    </body>
</html>