<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>First</h1>
    <h2>Second</h2>
    <h3>Third + {{site_name}}</h3>
    <b>Bold</b>
    <p>Third</p>
</body>
</html>